.navbar-brand{
    color: black;
    font-size: 5rem;
    font-family: 'Itim', cursive;
}
.navbar-item{
   padding: 0px 20px;
    float: right;
}
.bottom{
    background-color: black;
    padding: 8%;
    margin-bottom: 0%;
}
.copyrights{
    color: #ffffff;
    text-align: center;
}
.social-icon{
    margin:  5% 3%;
    size: 6rem;
}
.bottom-link{
    text-decoration: none;
    color: #dee600;
    padding: 5%;
}
.bottom-link:hover{
    color: #dee600;
    
}
.middle-body{
    color: #ffffff;
    background-color: black;
    padding: 15%;
    text-align: center;
}
.down{
    padding: 8%;
    height: 100vh;
    background-image:url("qingbao-meng-01_igFr7hd4-unsplash.jpg") ;
    background-size: cover;
    background-position: bottom;
}
.down-p{
    text-align: left;
    font-family: 'Itim', cursive;
    font-size: 5rem;
    color: #ffffff;
    padding-left: 5%;
    padding-top: 3%;

}
.heading{
    text-align: left;
    font-size: 5rem;
    margin-left: 5%;
    padding-top: 2rem;
    color: #ffffff;
    font-family: 'Itim', cursive;
}
.upper-down{
    padding-top: 3%;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
header{
    background-image: url("8616_XL-G-FJ-45.jpg");
height: 100vh;
background-size: cover;
background-position: center;
}

.btn{
    margin-left: 5%; 
}
.btn1{
margin-left: 3%;
color: #ffffff;
}
.btn:hover{
    color: #dee600;
}
.sub-heading{
    color: #ffffff;
    text-align: left;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 40%;
    font-size: 2rem;
    font-weight: 500;

}
.sub-heading1{
    color: #dee600;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 2rem;
}
.par{
    color: #A2A1A0;
    font-size: 1rem;
    margin: 5% 20%;
    text-align: left;
    text-decoration: black;
    font-family: 'Roboto', sans-serif;
}
.heading34{
    font-family: 'Itim', cursive;
    margin-top: 0%s;
    text-align: center;
    font-size: 5rem;
    color: #dee600;
}
h3{
    color: #A2A1A0;
text-align: center;  
padding: 3% 5%;  
}
.fas{
    color: #dee600;
    size: 5rem;
}